{
  "presets": [
    "react",
    [
      "env",
      {
        "targets": {
          "browsers": "last 2 version"
        },
        "loose": true,
        "modules": false
      }
    ]
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-class-properties",
    "transform-object-rest-spread"
  ],
  "env": {
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
