.layout {
  position: relative;
  padding: 2px;
  border: 2px solid #eee;
  height: 660px;
  box-sizing: border-box;
  flex-basis: 48%;
  overflow: scroll;

  &--isError {
    border: 2px solid $isError;
  }
  &--errorhandler {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: -1;
    background: $isError;
    width: 60%;
    padding: 0.3rem;
    color: white;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    transform: translateX(-30%);
    transition:  top 400ms ease;

    &:first-of-type {
      display: none;
    }

    &-showing {
      top: 50px;
    }
  }

  &--collapse{
    font-size: 20px;
  }

  &--setting{
    padding: .5rem;
    background: #2C3E50;
    box-sizing: border-box;

    > span {
      color: white;
      display: inline-block;
      padding: 7px;
      cursor: pointer;
    }
  }


  &--row{
    width: 100%;
    padding: .3rem;

  }
}
