.model {
  flex-basis: 45%;
  margin-left: 1.1rem;

  &--panel {
    position: relative;
    top: 0;
    display: inline-block;
    width: 30px;
    height: 25px;
    background: #eee;
    margin-right: .3rem;
    text-align: center;
    line-height: 25px;
  }

  &--path {
    padding-left: 20px;
    transform: translateY(-2px);

    &-value {
      background: #F8F8F8;
      color: $primary-text-heading;
      font-weight: 400;
      letter-spacing: 1.1px;
      font-size: 12px;
      padding: .2em;
    }
  }

  &--icongroup{
    display: flex;
    justify-content: space-between;
  }

  &--inline {
    display: inline-block;
    width: -30px;
  }

  &--toggler {
    font-size: .878rem;
    font-weight: 500;
    color: $primary-text-heading;
    vertical-align: middle;
    transform: translate(-5px, -1.9px);
    cursor: pointer;
    padding: .1em;

    &:hover {
     background: #ddd;
    }
  }

  &--key {
    text-align: left;
    font-size: $key-value-font;
    font-weight: 600;

  }

  &--value {
    display: inline-block;
    text-align: left;
    font-size: $key-value-font;
    font-weight: 400;

    &:focus {
      outline: none;
      box-sizing: border-box;
      border: 1px solid $been-edited;
      border-radius: 3px;

    }

    &-string {
      color: $dummy-green;
      text-align: justify;
      padding-left: .7rem;
      word-break: break-all;
    }

    &-number {
      color: $number-blue;
    }

    &-array {
      color: $light-silver;
      font-size: 14px;
    }

    &-object {
      @extend .model--value-array;
      margin-left: .4rem;
    }
  }

}
