.model {
  flex-basis: 45%;
  margin-left: 1.1rem;

  &--panel {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 30px;
    background: #eee;
    margin-right: .3rem;
    text-align: center;
    line-height: 30px;
  }


  &--inline {
    display: inline-block;
    width: -30px;
  }

  &--toggler {
    font-size: 1.1rem;
    font-weight: 500;
    color: $primary-text-heading;
  }

  &--key {
    text-align: left;
    font-size: $key-value-font;

    &:hover {
      color: $bright-yellow;
      cursor: default;
    }
  }

  &--value {
    display: inline-block;
    text-align: left;
    font-size: $key-value-font;

    &:focus {
      padding: .2rem;
      outline: none;
      box-sizing: border-box;
      border: 1px solid $been-edited;
      border-radius: 3px;

    }

    &-string {
      color: $isValid;
    }

    &-number {
      color: $number-blue;
    }

    &-array {
      color: $light-silver;
      font-size: 17px;
    }

    &-object {
      @extend   .model--value-array;
      margin-left: .7rem;
    }
  }

}
