.navigation {
  display: flex;
  position: relative;
  flex-direction: row;
  height: 50px;
  padding: 2px 70px 2px 10px;
  background-color: #eee;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  justify-content: flex-end;
  border-left: 50px solid $primary-text-heading;
  //noinspection SassScssResolvedByNameOnly
  &--item {
    position: relative;
    padding: 3px 10px;
    align-self: center;
    margin-right: 18px;
    letter-spacing: 1.2px;
    font-size: 1rem;
    text-align: center;
    color: $primary-text-heading;
    font-weight: 700;
    cursor: pointer;
    border: 0 solid;
    outline: 1px solid rgba(#eee, .7);
    outline-offset: 0px;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);

    &:hover {
      border: 0px solid;
      outline-color: rgba($primary-text-heading, .3);
      outline-offset: 6px;
    }

  }
  &--logo {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    color: crimson;
    font-size: 25px;
    font-weight: 400;
    font-family: 'Rochester', cursive;
  }

  &--toggler {
    font-size: 17px;
    color: lighten($primary-text-heading, 30);
    padding-left: 1px;
  }

  &--options {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 40px;
    left: -27px;
    border: none;
    background: white;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    z-index: 10;


    & li {
      padding: 10px;
      font-size: 13px;
      cursor: pointer;
    }

    &-isOpened {
      visibility: visible;
      opacity: 1;
      animation: bounce 300ms ease-in-out forwards;
    }

    @keyframes bounce {
      from { transform: translateY(10px)}
      to{transform: translateY(0)}
    }
  }

}

