.container{
  width: 100%;
}

.app {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: 10px auto;
  padding: 20px 10px;
  box-sizing: border-box;
  height: 100vh;
  overflow-y: scroll;
}
