$primary-text-heading: #22313F;
$secondary-text-color: #95A5A6;
$d-f-size: 1rem;
$dummy-green: #1BA39C;
$silver: #BFBFBF;
$light-silver: #D2D7D3;
$isError: #D91E18;
$isValid: #049372;
$been-edited: #336E7B;
$number-blue: #1F3A93;
$key-value-font:  .775rem;
$bright-yellow: #EB9532;
